# Dependencies
node_modules/

# Build output
dist/
build/

# Env & secrets
.env
.env.*.local
*.local

# Logs
*.log
npm-debug.log*

# Coverage & test
coverage/

# OS / editor
.DS_Store
Thumbs.db
.idea/
*.swp

# Prisma
prisma/*.db
